langchain
langchain-core
langchain-community
pypdf 
pymupdf
ipykernel
openpyxl
sentence-transformers
faiss-cpu
chromadb
langchain-text-splitters
langchain-groq
python-dotenv
fastapi
## npm i -g @llamaindex/liteparse